body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
header {
  width: 100%;
  overflow: hidden;
  position: relative;
  background-color: #fbab7e;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
  box-shadow: 0.2rem 0.3rem 2px rgba(0, 0, 0, 0.6);
}

h1 {
  text-align: center;
  color: #fff;
  font-size: 3.5rem;
  font-family: fantasy;
  font-weight: 300;
  text-shadow: 0.2rem 0.3rem 2px rgba(0, 0, 0, 0.4);
  margin-bottom: 2rem;
}
main {
  display: flex;
  justify-content: center;
  background-color: #7a7978;
  background-image: linear-gradient(62deg, #7a7978 0%, #8ac4ff 100%);
  height: 100vh;
  overflow: hidden;
}
#layout1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  margin: 30px;
  width: 40%;
  height: 290px;
  background-color: #466362;
  background-image: linear-gradient(62deg, #ff7158 0%, #fdf474 100%);
  box-shadow: 0.2rem 0.3rem 2px rgba(0, 0, 0, 0.6);
}
label {
  font-weight: 300;
  font-size: 1.2rem;
  font-family: fantasy;
  color: #000;
  text-shadow: 0.2rem 0.3rem 2px rgba(0, 0, 0, 0.4);
}
#numero {
  width: 170px;
  height: 25px;
  box-shadow: 0.2rem 0.3rem 2px rgba(0, 0, 0, 0.6);
  margin-bottom: 10px;
}
#button {
  width: 120px;
  height: 25px;
  border: 2px solid #8ac4ff;
  box-shadow: 0.2rem 0.3rem 2px rgba(0, 0, 0, 0.6);
  background-color: #7a7978;
  background-image: linear-gradient(62deg, #7a7978 0%, #8ac4ff 100%);
  margin-bottom: 10px;
}
#resposta {
  text-align: center;
  font-weight: 300;
  font-size: 1.2rem;
  font-family: fantasy;
}
@media (max-width: 571px) {
  header {
    background-color: #f85d03;
    background-image: linear-gradient(62deg, #fbab7e 0%, #f85d03 100%);
  }

  h1 {
    text-align: center;
    font-size: 2.5rem;
  }
  main {
    background-color: #8ff8ff;
    background-image: linear-gradient(62deg, #8ff8ff 0%, #057df5 100%);
  }
  label {
    text-shadow: none;
  }
  #layout1 {
    margin-top: 30px;
    width: 80%;
    height: 190px;
    background-color: #e68978;
    background-image: linear-gradient(62deg, #e68978 0%, #fdf474 100%);
  }

  #button {
    width: 120px;
    height: 25px;
    border: 2px solid #ffa042;
    box-shadow: 0.2rem 0.3rem 2px rgba(0, 0, 0, 0.6);
    background-color: #ffa042;
    background-image: linear-gradient(62deg, #ffa042 0%, #ff8a8a 100%);
    margin-bottom: 10px;
  }
}
@media (min-width: 572px) and (max-width: 800px) {
  header {
    background-color: #0382f8;
    background-image: linear-gradient(62deg, #6db8ff 0%, #0382f8 100%);
  }

  h1 {
    font-size: 3.5rem;
  }
  main {
    background-color: #fff06c;
    background-image: linear-gradient(62deg, #fff06c 0%, #fffb1c 100%);
  }
  #layout1 {
    width: 50%;
    height: 290px;
    background-color: #fcdbd6;
    background-image: linear-gradient(62deg, #fcdbd6 0%, #0580f3 100%);
  }

  #button {
    border: 2px solid #fffc42;
    background-color: #fffc42;
    background-image: linear-gradient(62deg, #fad711 0%, #fffc42 100%);
    margin-bottom: 10px;
  }
  #button:hover {
    transform: scale(1.2);
  }
}
